[Unit]
Description=Pi Sniffer
After=network.target
After=bluetooth.service

[Service]
# Env Vars - set these using sudo systemctl edit pi-sniffer.service and NOT here
#
# Environment="HOST_NAME=<name of Pi, optional will use system hostname if not set>"
# Environment="HOST_DESCRIPTION=<explain where the sensor is located (for dashboard)>"
# Environment="HOST_PLATFORM=<Pi3b+ or some other platform id (for dashboard)>"
# Environment="MQTT_TOPIC=BLF"
# Environment="MQTT_SERVER=192.168.0.52:1883"
#
ExecStart=/opt/sniffer/scan
WorkingDirectory=/var/sniffer
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=20
MemoryAccounting=true
MemoryHigh=8096K
MemoryMax=12192K

[Install]
WantedBy=multi-user.target
